html,body{
    margin:0;
    padding:0;
    height:100%;
}



body{
    background-color: white;
    font-family: Arial,sans-serif;

}
p {
    margin: 10px;
}

.fsize{
    color:white;

}

#headerLogin{
    text-align: center;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    border-bottom: 2px solid white;
}





.input-box{
    width: 260px;
    height: 20px;
    border-color: #a0ecec;

}

#submit{
    background-color: #8ce5e5;
    text-align: center;
    padding-top: 10px;
    margin-top:30px ;

}
#loginButton{
    background-color:white ;
    border-color: white;
    color: #0f1512;
    width:100px;
}

#form{

    background-color: #8ce5e5;
    text-align: center;
    width: 400px;
    padding: 20px;

}

#flex{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
}
#register{
    width: 400px;
    padding: 20px;
    background-color: #cbcbd5;
    position: relative;
}
#signup{
    color: black;
    background-color: white;
    text-align: center;
    border-color: white;
    width:100px;
}
#headerSignup{
    text-align: center;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    border-bottom: 2px solid white;
}
#sbutton{
    width: 100%;
    text-align: center;
    bottom: 20px;
    position: absolute;
}

#errorMsg{
    color: #faa8e6;
    text-decoration: lightblue;
}


